@import url("https://fonts.googleapis.com/css?family=Pacifico");
h1 {
    font-family: "Pacifico", cursive;
    text-align: center;
    font-size: 40px;
    color: #ffa500;
}

a {
    text-decoration: none;
}

.avatar {
  width:100px;
  height:100px;
}

.p-t-4 {
    padding-top: 40px;
}

.p-b-1 {
    padding-bottom: 10px;
}

.m-1 {
    margin: 10px;
}

@media only screen and (max-width: 600px) {}